table {
  width: 100%;
  border-collapse: collapse;
}
td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}
table img { /* Selector específico para las imágenes dentro de la tabla */
  width: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
  height: auto;
  border-radius: 50%; /* Para hacer las imágenes redondas */
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
pre {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}
code {
  font-family: 'Courier New', Courier, monospace;
}